* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  margin-bottom: 5%;
}

body {
  margin: auto;
  background: #e7f0fd;
  ;
}

/*ENCABEZADO*/

.nav {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #e7f0fd;
  box-shadow: 0 5px 9px rgba(0.3, 0.4, 0, 0.5);
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

.nav__li {
  padding: 12px;
  color: #000000;
  font-weight: 700;
}

.nav__li:hover>a {
  color: #4976fc;
  font-weight: 700;
}

.nav__li:hover {
  color: #52a3f4;
  cursor: pointer;
}

.nav__li a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__li img {
  width: 230px;
  height: 60px;
  margin: 0%;
}

.nav__li i {
  width: 30px;
  text-align: center;
  margin-right: 5px;
}

a:visited {
  color: #000;
}

/*CARRUSEL*/

.carousel-image {
  height: 700px;
  width: 100%;
  object-fit: cover;
  opacity: .8;
  padding: 0%;
}

.carousel-item {
  margin: 0%;
}

.carousel-caption {
  position: absolute;
  display: inline-table;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.carousel-caption h1 {
  font-weight: 500;
  font-size: 40px;
}

.carousel-caption p {
  font-size: 20px;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  height: 250px;
  width: 1050px;
  margin-bottom: 15px;
}

.card {
  margin: 15px;
  width: 250px;
  height: 180px;
  padding: auto;
  background-color: #d7faff;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #d7faff;
}

.card img {
  margin: 5px auto;
  padding: 0%;
  height: 85px;
  width: 85px;
  filter: brightness(0.8);
}

.card img:hover {
  transform: scale(0.9);
  filter: brightness(0.8);
}

.card a {
  text-decoration: none;
  font-weight: 300;
  margin: auto;
  color: #000;
  font-size: 14px
}

.card:hover>a {
  margin: auto;
  font-weight: 300;
}

.button {
  border-radius: 50px;
  background-color: #7bbbde;
  border: none;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  height: 35px;
}

.button:hover {
  background-color: #f9ae8a;
  color: #000000;
  font-weight: 500;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 2;
  right: 0;
}

/*BODY*/

.container-body1 {
  margin: 20px;
  padding: auto;
  display: flex;
}

.text-section {
  width: 50%;
  padding: 20px;
  justify-content: center;
}

.text-section h1 {
  margin-bottom: 15px;
}

.text-section p {
  font-size: 15px;
  margin-bottom: 30px;
}

.video-section {
  width: 50%;
  margin: 15px;
  padding: 1%;
}

.container-body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container-body__card {
  width: 250px;
  height: 450px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-body__card img {
  height: 100px;
  width: auto;
  margin-bottom: 15px;
}

/*FOOTER*/

.footer {
  padding: 10px;
  margin-top: 10px;
  color: rgb(230, 34, 34);
  box-shadow: 20px 0px 9px rgba(0.3, 0.4, 0, 0.5);
  background-image: linear-gradient(to right, #3d6dab 0%, #805063 100%);
  text-align: left;
}