:root{
  --verde:#00A149;
  --blanco:#fff;
  --rojo:#881014;
  --oscuro:#c7a17a;
  --titulos:'Lora', serif;
  --parrafos: 'mukta', sans-serif;
}

/*box-sizing: Hace que respeten los valores asignados a las class*/

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  overflow-x: hidden;
}

*,*::before, *::after{
  box-sizing: inherit;
}


/*globales*/

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

h1,h2{
  font-family: var(--titulos);
}

h3,p,a{
  font-family: var(--parrafos);
}


/*COLORES DEL TITULO*/

/* .verde{
  color: var(--verde);
}

.rojo{
  color: var(--rojo);
} */



/*Encabezado*/

.contenedor-navegacion{
  background-color:var(--oscuro);
  position: relative;
  z-index: 5;
  padding-top: 4rem;
}

.contenido-navegacion{
  align-items: center;
  justify-content: space-between;
}

.logo h2, .navegacion a{
  color: var(--blanco);
  
}

.logo h2{
  font-size: 3rem;
 
}


.navegacion a{
  text-decoration: none;
  font-size: 2.2rem;
  padding: 1.5rem;
  text-align: center;
  font-family: var(--titulos);
  
}


.navegacion{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 40rem;
  padding: 3rem 4rem;
  
}

/* .navegacion a:nth-child(even):hover{
  color: var(--rojo);
}
.navegacion a:nth-child(odd):hover{
  color: var(--verde);
} */






/* html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; */
 /*animation: moverIzquierda 1s ease-in;*/


/* #particles-js {
  height: 100vh; 
  width: 100%;
  position: fixed;
  z-index: 0;
} */

img {
  
  border-radius: 1px;
  border-style: solid;
  /*animation: arriba 1s ease-in;*/

}

.iconos{
padding: 25px 200px ;
font-size: 30px;
display: inline-block;
}

p{
color:rgb(25, 7, 106);
font-size: 15px;
}

h5,h1{
color: rgb(195, 33, 33);
font-family: 'Anton', sans-serif;
font-size: 28px;
}



.footer{
padding: 10px;
margin-top: 10px;
color: rgb(230, 34, 34);
background-image: linear-gradient(to top, #2b69af 0%, #e7f0fd 100%);
text-align: left;
/*animation: moverIzquierda 1s ease-in;*/
}
@keyframes moverIzquierda{
0%{
  opacity: 0;
  transform: translateX(-100px);
}

100%{
  opacity: 1;
  transform: translate(0);
}
}
@keyframes arriba{
0%{
  opacity: 0;
  transform: translateY(-100px);
}

100%{
  opacity: 1;
  transform: translate(0);
}
}
/* CODE DE HEADER*/
.header {
overflow: hidden;
padding: 1px 8px;
/*animation: moverIzquierda 1s ease-in;*/
height: 130px;
}

/* Style the header links */


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
font-size: 25px;
font-weight: bold;
}

/* Style the active/current link*/
.header .icon.active {
background-color: dodgerblue;
color: rgb(12, 82, 6);
}

/* Float the link section to the right */
.header-right {
float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
.header .icon {
  float: none;
  text-align: left;
}
.header-right {
  float: none;
}
}

.icon{
position: relative;
left: 450px;
bottom: 24px;
}



#boton{

position: relative ;
left: 80%;
bottom: 99px ;

}
